# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov
*.log
*.tmp
*.temp
*.swp
*.bak

# Dependency directories
vendor/
output/
downloads/
dist/

# all dotfiles and dirs, except .gitignore itself
.*
!.gitignore

# Editor/IDE/OS/debuggers
*~
\#*
__debug_bin
wlp*.json
Thumbs.db

# temp / private files & dirs
INSTALL
INSTALL-DEV
NOTES.md
NOTES.txt
OLD
TMP
DEV
TODO.md
bin/my*
